body{
    font-family: sans-serif;
    font-size: 15px;
}

fieldset{
    width: 250px;
    border-radius: 10px;
    padding: 15px;
    border: 1px solid black;
    
}
h1{
    font-size: 15px;
    margin: 0 0 8px 0;
}
.inForm{
    display: block;
    margin: 5px 0;
    width: 200px;
    height: 20px;
    padding-left: 8px;
    border-radius: 5px;
    border: 1px solid black;
}
label{
    display: block;
    margin-top: 5px;
}

textarea.inForm{
    width: 200px;
    max-height: 200px;
    min-height: 30px;
    resize: vertical;
    
}
button {
    display: block;
    margin: 5px 0 0 0;
    cursor: pointer;
}
input.flag{
    display: inline-block;
    cursor: pointer;
    margin-top: 8px;
}