body{
    margin: 0;
    bottom: 0;
    font-family: sans-serif;
}
header{
    display: flex;
    justify-content: center;
}
.container{
width: 1220px;
border-bottom: 1px solid black;
display: flex;
padding: 15px 15px;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
}

.header-logo{
    width: 50px;
    height: 50px;
    background-color: black;   
}

.header-nav{
    display: flex;
    align-items: center;
}
li {
  list-style-type: none;
  color: black;
  margin: 10px;
}
a{
    color: black;
    text-decoration: none;
}
