article {
  font-family: Ubuntu, sans-serif;
  font-weight: 400;
  font-size: 16px;
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
  color: rgba(83, 87, 85, 1);
}

.article-title {
  font-family: Oswald, sans-serif;
  font-weight: 600;
  font-size: 48px;
  color: rgba(44, 51, 47, 1);
  margin: 0 0 40px 0;
}
.article-text {
  margin-bottom: 20px;
}
.mb {
  margin-bottom: 80px;
}
.article-title.h2 {
  font-size: 36px;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}
.section {
  max-width: 744px;
}
ul li::marker {
  color: rgba(53, 150, 237, 1);
  list-style: 15px;
}
li {
  line-height: 1.7;
}
.margin {
  margin-bottom: 40px;
  margin-top: 40px;
}
.container-position {
  position: relative;
  width: 100%;
  max-width: 1220px;
}

.decor-1::after {
  content: "";
  height: 48px;
  background: url(../content/декор-lkbyysq.svg) repeat-x;
  position: absolute;
  z-index: -1;
  top: 100px;
  left: calc(-50vw + 50%);
  width: 50vw;
}
.decor-2::after {
  content: "";
  height: 48px;
  background: url(../content/lkbyyysq-ltrjh.svg) repeat-x;
  position: absolute;
  z-index: -1;
  top: 215px;
  right: calc(-50vw + 50%);
  width: 50vw;
}
.decor-2::before {
  content: url(../content/img/play.svg);
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  cursor: pointer;
}

@media (width <= 1400px) {
  article {
    max-width: 992px;
  }
}
@media (width <= 992px) {
  article {
    max-width: 768px;
  }
  .decor-2::after,
  .decor-1::after {
    display: none;
  }
  .article-title {
    font-size: 40px;
  }
  .article-title.h2 {
    font-size: 30px;
  }
  .mb {
    margin-bottom: 50px;
  }
}
@media (width <= 768px) {
  article {
    max-width: 576px;
  }
  .article-title {
    font-size: 35px;
  }
  .article-title.h2 {
    font-size: 25px;
  }
  .mb {
    margin-bottom: 40px;
  }
  .margin {
    margin-bottom: 40px;
    margin-top: 40px;
  }
}
@media (width <= 576px) {
  article {
    max-width: 376px;
  }

  .article-title {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .article-title.h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .mb {
    margin-bottom: 20px;
  }
  .margin {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}