@font-face {
    font-family: "Ubuntu";
    src: local("Ubuntu"), local("Ubuntu-Regular"), url("../font/Ubuntu-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Ubuntu";
    src: local("Ubuntu"), local("Ubuntu-Light"), url("../font/Ubuntu-Light.ttf") format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Ubuntu";
    src: local("Ubuntu"), local("Ubuntu-Medium"), url("../font/Ubuntu-Medium.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Oswald";
    src: local("Oswald"), local("Oswald-SemiBold"), url("../font/Oswald-SemiBold.ttf") format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Oswald";
    src: local("Oswald"), local("Oswald-Medium"), url("../font/Oswald-Medium.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}