html {
  font-family: Ubuntu, sans-serif;
  font-weight: 400;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}
a:focus-visible{
  outline: 1px solid rgb(0, 0, 0);;
}
a:hover{
  color: rgb(190, 38, 193);
}
