html {
  font-family: Ubuntu, sans-serif;
  font-weight: 400;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}
.header{
  display: flex;
  justify-content: center;
}
.container-header {
  max-width: 1220px;
  width: 100%;
  min-height: 105px;
  border-bottom: 1px solid rgba(211, 203, 217, 1);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 80px;
}
.logo-header {
  width: 84px;
  height: 48px;
}
.contacts {
  width: 240px;
  height: 45px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
}
.p-header {
  font-family: Ubuntu, sans-serif;
  color: rgba(133, 142, 138, 1);
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.tel-header {
  font-family: Ubuntu, sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: rgba(44, 51, 47, 1);
}
.footer {
  width: 100%;
}

.container-footer {
  width: 100%;
  max-width: 100%;
  margin: 120px auto 0;
  background: linear-gradient(
    90deg,
    rgba(73, 169, 255, 0.2) 0%,
    rgba(252, 124, 217, 0.2) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  padding-top: 60px;
}
.list-contacts {
  font-family: Ubuntu, sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.footer-list {
  display: flex;
  align-items: center;
  gap: 60px;
  padding: 40px 0;
}
.link-contact {
  color: rgba(83, 87, 85, 1);
}

.copyright-text {
  display: block;
  width: 100%;
  border-top: 1px solid rgba(211, 203, 217, 1);
  text-align: center;
  color: rgba(133, 142, 138, 1);
  font-weight: 400;
  font-size: 14px;
  font-family: Ubuntu, sans-serif;
  padding: 40px 0;
}
