.header{
  display: flex;
  justify-content: center;
}
.container-header {
  max-width: 1220px;
  width: 100%;
  min-height: 105px;
  border-bottom: 1px solid rgba(211, 203, 217, 1);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 80px;
}
.logo-header {
  width: 84px;
  height: 48px;
}
.contacts {
  width: 240px;
  height: 45px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
}
.p-header {
  font-family: Ubuntu, sans-serif;
  color: rgba(133, 142, 138, 1);
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.tel-header {
  font-family: Ubuntu, sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: rgba(44, 51, 47, 1);
}