.header {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}
.header__container {
  width: 100%;
  min-height: 105px;
  border-bottom: 1px solid rgba(211, 203, 217, 1);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 80px;
}

.header__sub {
  width: 240px;
  height: 45px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
}
.header__sub-text {
  font-family: Ubuntu, sans-serif;
  color: rgba(133, 142, 138, 1);
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.header__sub-tel {
  font-family: Ubuntu, sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: rgba(44, 51, 47, 1);
}
@media (width <= 992px) {
  .header__container {
    margin-bottom: 50px;
    min-height: 90px;
  }
  .header {
    max-width: 768px;
  }
  .header__sub-text {
    font-size: 12px;
  }
  .header__sub-tel {
    font-size: 14px;
  }
}
@media (width <= 768px) {
  .header {
    max-width: 576px;
  }
}
