.section {
  /* display: flex;
  justify-content: center; */
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
  margin-bottom: 140px;
}
.hero-container {
  min-height: 513px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* align-items: center; */
  position: relative;
  width: 100%;
}

.left-section {
  max-width: 492px;
  width: 100%;
  min-height: 316px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.section-title {
  font-family: Oswald, sans-serif;
  font-weight: 600;
  font-size: 62px;
  line-height: 115%;
  text-transform: uppercase;
  color: rgba(44, 51, 47, 1);
}
.section-title-h2 {
  font-family: Oswald, sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 115%;
  text-transform: uppercase;
  color: rgba(44, 51, 47, 1);
}
.section-text {
  font-family: Ubuntu, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: rgba(83, 87, 85, 1);
}

.button {
  width: 270px;
  height: 57px;
  margin-top: 100px;
  padding: 19px 32px;
  font-family: Ubuntu, sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 130%;
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(53, 150, 237, 1);
}
.button:hover {
  color: #fff;
  background-color: rgb(47, 136, 213);
}
.right-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.right-section::before {
  content: url(../content/img/выбор.svg);
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 40px;
}
/* .hero {
  position: relative;
} */
.hero-container::before {
  content: "";
  background: url(../content/декор-lkbyysq.svg);
  position: absolute;
  z-index: -1;
  top: 359px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100vw;
  height: 48px;
}
/* -------------------------------Новости------------------------ */
.news-section {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
  margin-bottom: 140px;
}
.news-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 28px;
  width: 100%;
}

.card {
  width: calc((100% - 84px) / 4);
  min-height: 342px;
  border: 1px solid rgba(211, 203, 217, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header-card {
  overflow: hidden;
  width: 100%;
}
.img-news {
  width: 100%;
}
.news-info {
  padding: 20px 20px 0;
  margin-bottom: 12px;
  width: 100%; /* изменяем на 100% */
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* чтобы padding не увеличивал ширину */
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; /* важное свойство - растягивается */
}
.time {
  font-family: Ubuntu, sans-serif;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: rgba(133, 142, 138, 1);
  display: block;
  margin-bottom: 8px;
}
.news-info-title {
  font-family: Ubuntu, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: rgba(44, 51, 47, 1);
}
.footer-card {
  padding: 0 20px 20px 20px;
  margin-top: auto; /* прижимает футер вниз */
}
.link-footer-card {
  display: inline-block;
  font-family: Ubuntu, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: rgba(53, 150, 237, 1);
}
.link-footer-card::after {
  content: "";
  display: inline-block;
  margin-left: 8px;
  width: 22px;
  height: 9px;
  background-image: url(../content/стрелка.svg);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.link-footer-card:hover::after {
  -webkit-transform: translateX(5px);
      -ms-transform: translateX(5px);
          transform: translateX(5px);
}
/* ----------------------------FAQ---------------- */
.section-faq {
  position: relative;
  margin-bottom: 140px;
}
.container-section-faq {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}
.container-faq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 28px;
}
summary {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
summary::-webkit-details-marker {
  display: none;
}
.summary-title {
  font-family: Oswald, sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 115%;
  text-transform: uppercase;
  color: rgba(44, 51, 47, 1);
}
summary::after {
  display: inline-block;
  content: "";
  background: url(../content/стрелка-вниз.svg), no-repeat;
  width: 17px;
  height: 22px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: auto;
}
details[open] summary::after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
details {
  margin-bottom: 20px;
  border-block: 1px solid rgba(211, 203, 217, 1);
}

details > p {
  padding: 0 20px 20px;
}
.section-faq::before {
  content: "";
  height: 48px;
  background: url(../content/lkbyyysq-ltrjh.svg) repeat-x;
  position: absolute;
  z-index: -1;
  top: 215px;
  width: calc(50% - 250px);
}
.mg {
  margin-bottom: 40px;
}

@media (width <= 1400px) {
  img {
    width: 50%;
  }
}
@media (width <= 992px) {
  .section {
    margin-bottom: 50px;
    max-width: 768px;
  }
  .hero-container::before {
    display: none;
  }

  .hero-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .left-section {
    text-align: center;
    max-width: inherit;
    /* gap: 20px; */
  }
  .section-title {
    font-size: 54px;
  }
  .button {
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}
@media (width <= 768px) {
  .section {
    max-width: 576px;
  }
  .section-title {
    font-size: 49px;
  }
}
@media (width <= 576px) {
  .section {
    max-width: 376px;
  }
  .section-title {
    font-size: 40px;
  }
  .left-section {
    max-width: 410px;
  }
  .right-section::before {
    left: 50%;
    -webkit-transform: translateX(-50%) scale(0.6);
        -ms-transform: translateX(-50%) scale(0.6);
            transform: translateX(-50%) scale(0.6);
    top: 10px;
  }
}
/* -------------КАРТОЧКИ---------- */
@media (width <= 992px) {
  .news-section {
    margin-bottom: 50px;
    max-width: 768px;
  }
  .section-title-h2 {
    font-size: 38px;
  }
  .card {
    width: 355px;
  }
}
@media (width <= 768px) {
  .news-section {
    max-width: 576px;
  }
  .section-title-h2 {
    font-size: 32px;
  }
  .news-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
  .card {
    width: 100%;
  }
}
@media (width <= 576px) {
  .news-section {
    max-width: 376px;
  }
  .section-title-h2 {
    font-size: 28px;
    text-align: center;
  }
}

/* ----------FAQ--------- */
@media (width <= 992px) {
  .container-section-faq {
    max-width: 768px;
  }
  .section-faq {
    margin-bottom: 28px;
  }
  .container-faq {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-faq::before {
    display: none;
  }
  details:last-child {
    margin-bottom: 0;
  }
}
@media (width <= 768px) {
  .container-section-faq {
    max-width: 576px;
  }
}
@media (width <= 576px) {
  .container-section-faq {
    max-width: 376px;
  }
  .summary-title {
  font-size: 20px;
}
}