body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.container-header {
  width: 1220px;
  height: 105px;
  border-bottom: 1px solid rgba(211, 203, 217, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}
.logo-header {
  width: 84px;
  height: 48px;
}
.contacts {
  width: 240px;
  height: 45px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
}
.p-header {
  font-family: Ubuntu, sans-serif;
  color: rgba(133, 142, 138, 1);
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
a {
  text-decoration: none;
}
.tel-header {
  font-family: Ubuntu, sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: rgba(44, 51, 47, 1);
}
article {
  font-family: Ubuntu, sans-serif;
  font-weight: 400;
  font-size: 16px;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 15px;
  color: rgba(83, 87, 85, 1);
}
.article-title {
  font-family: Oswald, sans-serif;
  font-weight: 600;
  max-width: 596px;
  font-size: 48px;
  color: rgba(44, 51, 47, 1);
  margin: 0 0 40px 0;
}
.article-text {
  margin-bottom: 20px;
}
.mb {
  margin-bottom: 80px;
}
.article-title.h2 {
  font-size: 36px;
  margin: 0;
  padding: 0;
}
.section {
  width: 744px;
}
ul li::marker {
  color: rgba(53, 150, 237, 1);
  list-style: 15px;
}
li {
  line-height: 1.7;
}
.margin {
  margin-bottom: 40px;
  margin-top: 40px;
}
.container-position {
  position: relative;
}

.decor-1::before {
  content: url(../content/декор.svg);
  position: absolute;
  left: -350px;
  top: 100px;
  z-index: -1;
}
.decor-2::after {
  content: url(../content/декор.svg);
  position: absolute;
  right: -350px;
  top: 400px;
  z-index: -1;
}
.container-footer {
  width: 1920px;

  background: linear-gradient(
    90deg,
    rgba(73, 169, 255, 0.2) 0%,
    rgba(252, 124, 217, 0.2) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  padding-top: 60px;
}
.list-contacts {
  font-family: Ubuntu, sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.footer-list {
  display: flex;
  align-items: center;
  gap: 60px;
  padding: 40px 0;
}
.link-contact {
  color: rgba(83, 87, 85, 1);
}

.copyright-text {
  display: block;
  width: 1920px;
  border-top: 1px solid rgba(211, 203, 217, 1);
  text-align: center;
  color: rgba(133, 142, 138, 1);
  font-weight: 400;
  font-size: 14px;
  font-family: Ubuntu, sans-serif;
  padding: 40px 0;
}
